.container {
    margin: 20px 50px;
    padding: 100px;
    border: 1px double rgb(102, 137, 91);
    background-color: whitesmoke;
}

body {
    background-color: rgb(149, 192, 135);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(149, 192, 135);
}

ul li {
    float: left;
}

ul li a {
    display: block;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: large;
}

ul li a:hover {
    background-color: rgb(102, 137, 91);
}

.center-text {
    text-align: center;
}

.image-border {
    border: 3px solid rgb(102, 137, 91);
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bold-text {
    font-weight: 1000;
    font-size: larger;
}

.larger-text {
    font-size: x-large;
}