/*colors*/
.bronze {
    color: #CB8343;
}

.bronze2 {
    color: #984c26;
}

.avocado {
    color: #375210;
}

.olive {
    background-color: #6C9108;
}

.earth-yellow {
    color: #D8AE69;
}

.background-color {
    background-color: #efe2c1;
}

/*nav bar*/
.as_nav {
    list-style: none;
    text-align: center;
}


.as_nav li {
    display: inline;
    margin-right: 10px;
    padding: 5px;
}

.nav-bar {
    grid-column: 1 / span 2;
    grid-row: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6C9108;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: large;
}

ul li a:hover {
    background-color: #536f07;
}

.sams-logo-size {
    width: auto;
    height: 50px;
}

/*Grid*/
.grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50% 50%;
    font-family: 'Times New Roman', Times, serif
}

.grid-item {
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

/*Header*/
.header {
    grid-column: 1 / span 2;
    grid-row: 2;

}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -70%);
}

/*Image border*/
.img-border {
    border: 3px #984c26 solid;
}

.img-border-main {
    border: 3px #375210 solid;
}

/*boats image*/
.boats-img {
    grid-column: 1 / span 2;
    grid-row: 2;
}

.boats-size {
    height: auto;
    width: 100%;
}

/*about*/
.about-text {
    grid-column: 1;
    grid-row: 3;
}

.about-image {
    grid-column: 2;
    grid-row: 3;
}

.child-size {
    height: auto;
    width: 75%;
}

/*quote*/
.quote-image {
    grid-column: 1;
    grid-row: 4;
}

.quote-image-size {
    width: 75%;
    height: auto;
}

.quote-text {
    grid-column: 2;
    grid-row: 4;
}

.quote-align {
    text-align: left;
}

/*Greeting*/

.name {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.button-greeting {
    /*ADDING COLOR TO BUTTONS IS A NEW USE OF CSS*/
    background-color: #984c26;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    /*CHANGING CURSOR IS A NEW FEATURE*/
    cursor: pointer;

}

/*footer*/

.footer {
    grid-column: 1 / span 6;
    grid-row: 5;
}

.footer-grid-container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 10% 25% 27% 13.4% 13.4% 10%;
    font-family: 'Times New Roman', Times, serif
}


.footer-header1 {
    grid-column: 2;
    grid-row: 1;
}

.footer-header2 {
    grid-column: 3;
    grid-row: 1;
}

.footer-header3 {
    grid-column: 4;
    grid-row: 1;
}

.footer-header4 {
    grid-column: 5;
    grid-row: 1;
}

.footer-grid-item {
    text-align: center;
    font-size: 30px;
    padding: 0px;
}

.follow-text {
    color: black;
    font-size: 16px;
    text-align: left;
}

/*-----------------------------Menu-----------------------------------*/

/*Grid Container*/

.menu-grid-container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 50% 50%;
    font-family: 'Times New Roman', Times, serif
}

.container-margins {
    margin-left: 10%;
    margin-right: 10%;
}

/*menu 1*/

.takeout {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.pdf1 {
    grid-column: 1 / span 2;
    grid-row: 2;
}

/* Images for menu 1*/

.menu1a {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.menu1b {
    grid-column: 1 / span 2;
    grid-row: 4;
}

/*Menu 2*/

/*labels*/
.in-store {
    grid-column: 1 / span 2;
    grid-row: 5;
}

.pdf2 {
    grid-column: 1 / span 2;
    grid-row: 6;
}

/*Images*/
.menu2aL {
    grid-column: 1;
    grid-row: 7;
}

.menu2aR {
    grid-column: 2;
    grid-row: 7;
}

.menu2bL {
    grid-column: 1;
    grid-row: 8;
}

.menu2bR {
    grid-column: 2;
    grid-row: 8;
}

.menu2cL {
    grid-column: 1;
    grid-row: 9;
}

.menu2cR {
    grid-column: 2;
    grid-row: 9;
}

.menu2dL {
    grid-column: 1;
    grid-row: 10;
}

.menu2dR {
    grid-column: 2;
    grid-row: 10;
}

.menu2eL {
    grid-column: 1;
    grid-row: 11;
}

.menu2eR {
    grid-column: 2;
    grid-row: 11;
}

/*---------Gallery---------------*/

.gallery-grid-container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 25% 25% 25% 25%;
    font-family: 'Times New Roman', Times, serif
}

.gallery-header {
    grid-column: 1 / span 4;
    grid-row: 1;
}

/*photo placement*/

.food15 {
    grid-column: 1;
    grid-row: 2;
}

.food2 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
}

.food14 {
    grid-column: 4;
    grid-row: 2;
}

.food4 {
    grid-column: 1;
    grid-row: 3;
}

.food10 {
    grid-column: 4;
    grid-row: 3;
}

.food6 {
    grid-column: 1;
    grid-row: 4;
}

.food7 {
    grid-column: 1;
    grid-row: 5;
}

.food8 {
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
}

.food9 {
    grid-column: 4;
    grid-row: 4;
}

.food5 {
    grid-column: 4;
    grid-row: 5;
}

.food11 {
    grid-column: 1;
    grid-row: 6;
}

.food12 {
    grid-column: 1;
    grid-row: 7;
}

.food22 {
    grid-column: 2 / span 2;
    grid-row: 6 / span 2;
}

.food21 {
    grid-column: 4;
    grid-row: 6;
}

.food1 {
    grid-column: 4;
    grid-row: 7;
}

.food26 {
    grid-column: 1;
    grid-row: 8;
}

.food17 {
    grid-column: 1;
    grid-row: 9;
}

.food18 {
    grid-column: 2 / span 2;
    grid-row: 8 / span 2;
}

.food19 {
    grid-column: 4;
    grid-row: 8;
}

.food20 {
    grid-column: 4;
    grid-row: 9;
}

.food16 {
    grid-column: 1;
    grid-row: 10;
}

.food13 {
    grid-column: 1;
    grid-row: 11;
}

.food23 {
    grid-column: 2 / span 2;
    grid-row: 10 / span 2;
}

.food24 {
    grid-column: 4;
    grid-row: 10;
}

.food25 {
    grid-column: 4;
    grid-row: 11;
}